@import 'minireset';
@import 'helpers';

h1, h2, h3, h4, h5, h6 {
	display: block;
}

.container {
	padding: 10px 10px;
	text-align: center;
	height: 100%;
	margin: 0 auto;
}

.emoji {
	font-family: color-emoji;
	font-size: 30px;
	letter-spacing: 5px;
}

@include desktop {
	.container {
		max-width: 1200px;
	}
}