$font-sans-serif: 'Open Sans', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-primary: $font-sans-serif;

$red: #BF0A30;
$white: #FFFFFF;
$blue: #002868;

// colors
$color-1: $red;
$color-2: $white;
$color-3: $blue;

// font weight
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;

// font-size
$size-normal: 14px;
