@import '@/styles/helpers';

.search-zip {
	margin: 5px auto;
	width: 120px;
}

.search-zip__label {
	display: block;
	margin: 0 auto 5px;
	font-size: 18px;
}

.search-zip__input {
	width: 100%;
	height: 30px;
	max-width: 120px;
	margin-bottom: 10px;
	text-align: right;
}

@include tablet-landscape {
	.search-zip {
		width: 100%;
		max-width: 500px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.search-zip__label, .search-zip__input, .search-zip__button {
		margin: 10px 5px;
	}
}
